.titleSection{
    width: 100%;

    padding: 6vw 6vw;

    box-sizing: border-box;

    font-size: 6vw;
    font-family: InterBold;

    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width:700px){
    .titleSection{
        font-size: 8vw;

        padding: 10vw 6vw;
    }
}