.palette {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vw;

}

.palette__icon{
    z-index: 52;
}

.palette__icon:hover {
    cursor: pointer;
}

.palette__dropdown {
    position: absolute;

    z-index: 51;
    
    border-radius: 20px;

    opacity: .9;
    
    background-color: inherit;

    width: 60px;

    padding: 1rem 0;

    align-items: center;
    flex-direction: column;

    gap: 5px 0;
}

.palette__dropdown li {
    width: 40px;
    height: 40px;

    border: .1rem solid #ffffff;
    border-radius: 10px;
}

.palette__dropdown li:hover {
    cursor: pointer;
}

.palette__dropdown li:nth-child(1) {
    background-color: #eb0c0c;
}

.palette__dropdown li:nth-child(2) {
    background-color: #000000;
}

.palette__dropdown li:nth-child(3) {
    background-color: #0000ff;
}

.palette__dropdown___closed {
    display: block;
    animation: .1s linear closePalette;
    top: -100vh;
}

@keyframes closePalette {
    0% {
        bottom: -6rem;
        visibility: 1;
    }

    100%{
        bottom: 0;
        visibility: 0;
    }
}

.palette__dropdown___open {
    display: flex;
    bottom: -6rem;
    animation: .3s linear openPalette;
}

@keyframes openPalette {
    0% {
        opacity: 0;
        bottom: -5.5rem;
    }

    80% {
        opacity: .4;
    }

    100% {
        opacity: 1;
        bottom: -6rem;
    }
}

@media screen and (min-width:2150px){

    .palette__dropdown___open {
        bottom: -5rem;
    }

    @keyframes openPalette {
        0% {
            opacity: 0;
            bottom: -4.5rem;
        }
    
        80% {
            opacity: .4;
        }
    
        100% {
            opacity: 1;
            bottom: -5rem;
        }
    }

    @keyframes closePalette {
        0% {
            bottom: -5rem;
            visibility: 1;
        }
    
        100%{
            bottom: 0;
            visibility: 0;
        }
    }
}

@media screen and (max-width:1600px){

    .palette__dropdown___open {
        bottom: -7.5rem;
    }

    @keyframes openPalette {
        0% {
            opacity: 0;
            bottom: -6rem;
        }
    
        80% {
            opacity: .4;
        }
    
        100% {
            opacity: 1;
            bottom: -7.5rem;
        }
    }

    @keyframes closePalette {
        0% {
            bottom: -7.5rem;
            visibility: 1;
        }
    
        100%{
            bottom: 0;
            visibility: 0;
        }
    }
}

@media screen and (max-width:1023px){

    .palette__dropdown___open {
        bottom: -9rem;
    }

    @keyframes openPalette {
        0% {
            opacity: 0;
            bottom: -8.5rem;
        }
    
        80% {
            opacity: .4;
        }
    
        100% {
            opacity: 1;
            bottom: -9rem;
        }
    }

    @keyframes closePalette {
        0% {
            bottom: -9rem;
            visibility: 1;
        }
    
        100%{
            bottom: 0;
            visibility: 0;
        }
    }
}

@media screen and (max-width:750px){

    .palette__dropdown___open {
        bottom: -10rem;
    }

    @keyframes openPalette {
        0% {
            opacity: 0;
            bottom: -9.5rem;
        }
    
        80% {
            opacity: .4;
        }
    
        100% {
            opacity: 1;
            bottom: -10rem;
        }
    }

    @keyframes closePalette {
        0% {
            bottom: -10rem;
            visibility: 1;
        }
    
        100%{
            bottom: 0;
            visibility: 0;
        }
    }
}