.palette {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

}

.palette__icon{
    z-index: 52;
}

.palette__icon:hover {
    cursor: pointer;
}

.palette__dropdown {
    position: absolute;

    z-index: 51;
    
    border-radius: 20px;

    opacity: .9;
    
    background-color: inherit;

    width: 60px;

    padding: 1rem 0;

    align-items: center;
    flex-direction: column;

    gap: 5px 0;
}

.palette__dropdown li {
    width: 40px;
    height: 40px;

    border: .1rem solid #ffffff;
    border-radius: 10px;
}

.palette__dropdown li:hover {
    cursor: pointer;
}

.palette__dropdown li:nth-child(1) {
    background-color: #eb0c0c;
}

.palette__dropdown li:nth-child(2) {
    background-color: #000000;
}

.palette__dropdown li:nth-child(3) {
    background-color: #0000ff;
}

.palette__dropdown___closed {
    display: block;
    animation: .1s linear closePalette;
    top: -100%;
}

@keyframes closePalette {
    0% {
        bottom: -6.5rem;
        visibility: 1;
    }

    100%{
        bottom: 0;
        visibility: 0;
    }
}

.palette__dropdown___open {
    display: flex;
    bottom: -6.5rem;
    animation: .3s linear openPalette;
}

@keyframes openPalette {
    0% {
        opacity: 0;
        bottom: -6rem;
    }

    80% {
        opacity: .4;
    }

    100% {
        opacity: 1;
        bottom: -6.5rem;
    }
}