.titlePage {
    width: 100%;

    padding: 0 5vw 3vw;

    box-sizing: border-box;

    font-size: 8vw;
    font-family: RobotoBold;
    text-align: center;

    line-height: 10vw;
}

.titlePage__span {
    padding: 0 1rem;
    border-radius: 20px;
}

@media screen and (max-width:700px) {
    .titlePage{
        padding: 0vw 2vw 10vw;
        font-size: 10vw;
        line-height: 12vw;
    }
}