.header__navigation{
    width: 80%;
}

.header__navigation ul{
    color: inherit;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.header__navigation ul li{
    font-size: 1.5vw;

    font-family: RobotoBold;

    height: 2vw;

    box-sizing: border-box;
}

.header__navigation ul li:hover{
    border-bottom: 2px solid #ffffff;
}


@media screen and (max-width:1023px) {
    .header__navigation{
        display: none;
    }
}