.banner {
    width: 90%;
    height: 40vw;

    margin: auto;

    position: relative;
}

.banner>* {
    height: 100%;
}

.banner img {
    height: 40vw;

    object-fit: cover;
}

.banner__title {
    font-size: 3vw;
    font-family: RobotoBold;
}

.banner__subTitle {
    font-size: 2vw;
    font-family: InterLight;
}

.banner__link {
    position: absolute;

    bottom: 2vw;
    left: calc(50% - 18vw);
}

.banner__link:hover {
    cursor: pointer;
}

.banner__link button {
    width: 36vw;
    padding: 2vw;

    box-sizing: border-box;

    color: #ffffff;
    background: linear-gradient(90deg, #000000 0%, #111111 100%);

    border: 4px solid #ffffff;

    border-radius: 20px;

    font-size: 2vw;
    font-family: InterMedium;

    cursor: pointer;

    transition: all linear .5s;

}

.banner__link button:hover {

    transform: scale(1.1);
    opacity: .8;

}

@media screen and (max-width:1000px) {
    .banner {
        width: 95%;
        height: 70vw;
    }

    .banner img {
        height: 70vw;

        object-fit: cover;
    }

    .banner__link {
        left: calc(50% - 40vw);
        bottom: 4vw;
    }

    .banner__link button {
        width: 80vw;

        font-size: 3.5vw;

        border-width: 1px;
    }

    .banner__title {
        font-size: 6vw;
        font-family: RobotoBold;
    }

    .banner__subTitle {
        font-size: 2.5vw;
        font-family: InterLight;
    }
}